<div class="container mt-5 px-4">
  <div class="row d-flex justify-content-center text-center">
    <h1 style="font-weight: bold; font-size: clamp(32px, 8vw, 64px); letter-spacing: 2px;">縮網址神器</h1>
    <p style="font-size: clamp(14px, 5vw, 16px);">這是一個簡單的縮網址服務，可以將長網址轉換為短網址</p>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="縮網址神器"
      style="width: clamp(150px, 15vw, 250px); height: auto; margin: 40px 0;">
  </div>
  <div class="row mb-5">
    <form action="/urlshortener/newurl" method="POST" class="d-flex flex-column align-items-center">
      <div class="mb-4" style="width: clamp(300px, 50vw, 500px);">
        <input class="form-control" type="text" name="url" placeholder="請輸入網址..." value="{{shortenurl.url}}">
      </div>
      <button type="submit" class="btn btn-outline-primary mb-3" style="font-weight: bold;">Shorten!</button>
    </form>
      {{#if error}}
      <div class=" d-flex justify-content-center text-center mt-3">
        <div class="alert alert-danger" role="alert" style="font-weight: bold; border: 2px solid; width: clamp(350px, 55vw, 550px);">
          {{error}}
        </div>
      </div>
      {{/if}}
  </div>
</div>